@import "tailwindcss";

@font-face {
    font-family: 'Google Sans';
    src: url('../src/fonts/GoogleSans-Italic.eot');
    src: url('../src/fonts/GoogleSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('../src/fonts/GoogleSans-Italic.woff2') format('woff2'),
        url('../src/fonts/GoogleSans-Italic.woff') format('woff'),
        url('../src/fonts/GoogleSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../src/fonts/GoogleSans-Bold.eot');
    src: url('../src/fonts/GoogleSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../src/fonts/GoogleSans-Bold.woff2') format('woff2'),
        url('../src/fonts/GoogleSans-Bold.woff') format('woff'),
        url('../src/fonts/GoogleSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../src/fonts/GoogleSans-BoldItalic.eot');
    src: url('../src/fonts/GoogleSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../src/fonts/GoogleSans-BoldItalic.woff2') format('woff2'),
        url('../src/fonts/GoogleSans-BoldItalic.woff') format('woff'),
        url('../src/fonts/GoogleSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../src/fonts/GoogleSans-Medium.eot');
    src: url('../src/fonts/GoogleSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../src/fonts/GoogleSans-Medium.woff2') format('woff2'),
        url('../src/fonts/GoogleSans-Medium.woff') format('woff'),
        url('../src/fonts/GoogleSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../src/fonts/GoogleSans-Regular.eot');
    src: url('../src/fonts/GoogleSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../src/fonts/GoogleSans-Regular.woff2') format('woff2'),
        url('../src/fonts/GoogleSans-Regular.woff') format('woff'),
        url('../src/fonts/GoogleSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../src/fonts/GoogleSans-MediumItalic.eot');
    src: url('../src/fonts/GoogleSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../src/fonts/GoogleSans-MediumItalic.woff2') format('woff2'),
        url('../src/fonts/GoogleSans-MediumItalic.woff') format('woff'),
        url('../src/fonts/GoogleSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../src/fonts/GoogleSans-SemiBold.eot');
    src: url('../src/fonts/GoogleSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../src/fonts/GoogleSans-SemiBold.woff2') format('woff2'),
        url('../src/fonts/GoogleSans-SemiBold.woff') format('woff'),
        url('../src/fonts/GoogleSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../src/fonts/GoogleSans-SemiBoldItalic.eot');
    src: url('../src/fonts/GoogleSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../src/fonts/GoogleSans-SemiBoldItalic.woff2') format('woff2'),
        url('../src/fonts/GoogleSans-SemiBoldItalic.woff') format('woff'),
        url('../src/fonts/GoogleSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}


*{
    font-family: 'Google Sans';
}

.loader {
  position: relative;
  width: 164px;
  height: 100px;
  margin: 50px auto;
}

.loader div {
  position: absolute;
  width: 10px;
  height: 30px;
  background: linear-gradient(180deg,rgba(31,184,92,0.7)0%,rgba(173,159,26,0.7)84%);
  border-radius: 5px;
  animation: loader_51899 1.5s ease-in-out infinite;
  opacity: 0.8;
}

.loader .bar1 {
  left: 0px;
  animation-delay: 0s;
}

.loader .bar2 {
  left: 20px;
  animation-delay: 0.15s;
}

.loader .bar3 {
  left: 40px;
  animation-delay: 0.3s;
}

.loader .bar4 {
  left: 60px;
  animation-delay: 0.45s;
}

.loader .bar5 {
  left: 80px;
  animation-delay: 0.6s;
}

.loader .bar6 {
  left: 100px;
  animation-delay: 0.75s;
}

.loader .bar7 {
  left: 120px;
  animation-delay: 0.9s;
}

.loader .bar8 {
  left: 140px;
  animation-delay: 1.05s;
}

.loader .bar9 {
  left: 160px;
  animation-delay: 1.2s;
}

@keyframes loader_51899 {
  0% {
    height: 30px;
    transform: translate(0, 0);
  }

  50% {
    height: 70px;
    transform: translate(0, 35px);
  }

  100% {
    height: 30px;
    transform: translate(0, 0);
  }
}

/* Ana tooltip kutusu */
.apexcharts-tooltip {
  background: rgba(255, 255, 255, 0.7) !important;
  border: none !important;
  backdrop-filter: blur(4px) !important;
}

/* Başlık kısmı */
.apexcharts-tooltip-title {
    background: rgba(167, 162, 162, 0.2) !important;
  border-bottom: none !important;
}

/* Xaxis üstündeki tooltip (crosshair tooltip) */
.apexcharts-xaxistooltip {
  background: rgba(236, 236, 236, 0.5) !important;
  border: none !important;
  backdrop-filter: blur(4px) !important;
}

/* Xaxis tooltip ok işareti */
.apexcharts-xaxistooltip-bottom:before,
.apexcharts-xaxistooltip-bottom:after {
  border-bottom-color: rgba(59, 192, 77, 0.7) !important;
}

